body {
    box-sizing: border-box;
    transition-duration: 0.3s;
    display: flex;
}

body {
    height: 100vh;
    width: 100vw;        
}

.image_banners {
    width:  45%;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
}

.question_section {
    font-size: 25px;
    flex-direction: column;
    display: flex;
    justify-content: top;
    font-weight:bold;
    margin-top: 5px;
    color: black;
    background-color: rgb(226, 226, 226);
    width: 55%;
    border-radius: 10px;
    line-height: 5%;
    padding-left: 10px;
}

.answer_text {
    background-color: white;
    width: 90.8%;
    padding-left: 5%;
    border-radius: 5px;
    height: auto;
    line-height: 300%;
    text-align: center;
    align-content: center;
    font-weight: 100; 
}

#tp_banner {
    width: 90%;
}

#tp_segments {
    width: 75%;
}

#question_button {
    box-shadow: 0px 4px 12px 0 rgb(0,0,0,0.1);
    font-size: 25px;
    margin-top: 8%;
}

#question_button:hover {
    transform: scale(1.04) ;
    box-shadow: 0px 5px 14px 0 rgb(0,0,0,0.1);
}

#question_header {
    text-align: left;
    width: 100%;
}

#question_text {
    background-color: white;
    width: 95.5%;
    flex-wrap: wrap;
    padding-left: 5px;
    border-radius: 5px;
    min-height: 50px;
    height: auto;
    text-align: center;
    align-content: center;
    font-weight: 100;
    line-height: 1.2;
}

.answer_input {
    margin-bottom: 3%;
}