* {
    box-sizing: border-box;
    transition-duration: 0.3s;
}

body {
    height: 100vh;
    margin: 20px;
}

.image_banners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

#tp_banner {
    width: 40%;
}

#tp_segments {
    width: 25%;
}

#question_button {
    box-shadow: 0px 4px 12px 0 rgb(0,0,0,0.1)
}

#question_button:hover {
    transform: scale(1.04) ;
    box-shadow: 0px 4px 12px 0 rgb(0,0,0,0.1)
}